<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hablame
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button (click)="getPermission()" expand="block" fill="clear" shape="round">
    Dame Permisos
  </ion-button>
  <ion-button (click)="startListening()" expand="block" fill="clear" shape="round">
    Empieza a Grabar
  </ion-button>
  <ion-button (click)="stopListenig()" *ngIf="isIos()" expand="block" fill="clear" shape="round">
    GetPermissions
  </ion-button>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Esto es lo que entendi....</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
  <ion-list *ngFor="let match of matches">    
      
        <ion-label>{{ match }}</ion-label>
      
  </ion-list>
</ion-content>
